@import "./variables.css";
@import "./custom.css";

.navbar-active {
  background-color: initial; /* Màu mặc định */
  color: initial; /* Màu chữ mặc định */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng mượt */
}

.navbar-active:hover {
  background-color: var(--bg-yellow-base); /* Màu khi hover */
  color: #000 !important; /* Màu chữ khi hover */
}
