@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  .text-white p {
    font-size: 1.2rem;
  }

  .bg-white {
    height: 120px;
  }

  .position-absolute {
    position: relative !important;
  }

  .d-flex {
    flex-direction: column !important;
  }

  .text-center {
    margin-bottom: 20px;
  }

  img {
    object-fit: contain;
    min-height: auto;
  }

  .data-husc {
    margin-top: 700px !important;
  }

  .info-husc {
    left: 0 !important;
    transform: none !important;
  }
}

@media (min-width: 767px) {
  .title-center {
    text-align: center;
  }
}

.item-face:hover .face-1 {
  display: none !important;
}

.item-face:hover .face-2 {
  display: block !important;
}

/* .item-face {
  position: relative;
  width: 100%;
  height: 100%;
} */

/* .item-face .face-1 {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.item-face .face-2 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.item-face:hover .face-1 {
  opacity: 0;
}

.item-face:hover .face-2 {
  opacity: 1;
} */
